.destionation-list::-webkit-scrollbar {
  width: 0;
}

.destionation-list {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  column-gap: 20px;
}

.destionation-item {
  box-shadow: 0px 10px 60px 0px rgba(46, 46, 46, 0.15);
  background: #fff;
  flex-shrink: 0;
  width: 295px;
  height: 580px;
}
